/* html {
  font-size: 10px;
} */

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  text-align: center;
  background-color: #eee;
  line-height: 1.6;
  font-weight: 300;
  min-height: 2000px;
}

.container {
  width: 80%;
  margin: auto;
}

.typography {
  display: flex;
}

.typography col {
  flex: 1;
  margin: 0 0.5em;
  padding: 0 0.5em;
}

/* em */
/* Ukuran font mengikuti parent pembungkusnya */

/* .typography {
  font-size: 10px;
}

.col-em {
  font-size: 2em;
}

.col-em h2 {
  font-size: 2em;
}

.col-em p {
  font-size: 1.5em;
} */

/* rem */
/* Ukuran font mengikut :root atau html{ , root lebih tinggi dari html*/

/* gak terpengaruh si remnya sama parent yang ini */
/* .col-rem {
  font-size: 10px;
  
}

.col-rem h2 {
  font-size: 2rem;
}

.col-rem p {
  font-size: 1.5rem;
} */

/* REM untuk ukuran font */
/* EM untuk length sebuah html. bisa margin, padding, width, height, dan lainnya */

/* dibawah ini style untuk tombol */
.btn {
  display: inline-block;
  background-color: #333;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em 3em;
  /* klo mau margin relative terhadap ukuran font pakai em */
  /* klo mau margin fixed pakai rem */
  margin: 0 1.5rem;

  /* 1em = 16px */
  /* em yang buat length bkn relative ke parent, tapi relative ke elemen dia saat ini, kalo ga ada baru naik
  ke parentnya*/
}

.btn-sm {
  font-size: 0.5em;
}

.btn-lg {
  font-size: 2em;
}
